@page
@model PinhuaMaster.Pages.MenuSystem.DetailsModel
@{
    ViewData["Title"] = "菜单详情";
}

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">详情</h3>
                </div>
                <form>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            <label asp-for="_menu.Id">菜单编号</label>
                            <input asp-for="_menu.Id" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.Name">菜单名称</label>
                            <input asp-for="_menu.Name" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.ParentId">父级菜单</label>
                            <select asp-for="_menu.ParentId" class="form-control input-sm" asp-items="ViewBag.ParentIds" disabled></select>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.IndexCode">组内排序</label>
                            <input asp-for="_menu.IndexCode" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.MenuType">菜单类型</label>
                            <input asp-for="_menu.MenuType" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.Icon">菜单图标</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i id="IconfShow" class="fa @Model._menu.Icon"></i></span>
                                <input asp-for="_menu.Icon" class="form-control input-sm" readonly>
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.Url">菜单路径</label>
                            <input asp-for="_menu.Url" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="_menu.Remarks">备注</label>
                            <input asp-for="_menu.Remarks" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a asp-action="Edit" asp-route-id="@Model._menu.Id" class="btn btn-primary"><i id="IconfShow" class="fa fa-edit"></i>&nbsp;编辑</a>
                        <a asp-action="Index" class="btn btn-default"><i id="IconfShow" class="fa fa-undo"></i>&nbsp;返回</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

